<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raycoarana.codeinputview">

    <application>
        <activity
            android:name="androidx.appcompat.app.AppCompatActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>
