<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raycoarana.codeinputview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="androidx.appcompat.app.AppCompatActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>
</manifest>
